<h1>Lista de posts:</h1>

{{#each posts}}
  <small>{{createdAt}}</small>
  <h1>{{titulo}}</h1>
  <p>{{conteudo}}</p>
   <a href="/deletar/{{id}}"> <button>Deletar</button> </a>
  <hr>
{{/each}}


{{!-- 
     #each "cada" -  usada quando recebe varios objetos na view
  
    createdAt - data de criação
--}}


{{!-- 
    link da aula - nos comentários tem algumas ideias boas para implementar
    https://www.youtube.com/watch?v=PiM-E4cDj0s&  list=PLJ_KhUnlXUPtbtLwaxxUxHqvcNQndmI4B&index=26&ab_channel=VictorLima-GuiadoProgramador
 --}}