<form action="/addFormulario" method="POST">
  <p>Título:</p>
  <input type="text" name="titulo">
  <p>Conteudo</p>
  <textarea name="conteudo"></textarea>
  <button type="submit">Cadastrar postagem</button>
</form>



{{!--     POST - não passa os dados para url, sempre usar o metodo post quando for enviar um formulário para maior segurança   --}}

{{!--     GET- envia os dados pela url         --}}
